.side {
  height: 50px;
  width: 400px;
  background-color: black;
  color: white;
  position: relative;
  left: 150px;
  bottom: 300px;
  font-size: 40px;
}
.up {
  color: darkblue;
  position: relative;
  left: 160px;
}
.trust {
  color: lightblue;
  position: relative;
  left: 160px;
}
